# Environments
venv/
.env

# Python Cache
__pycache__/
*.pyc

# Heavy Data (DO NOT UPLOAD)
data/
*.csv

# MLflow and Pipeline Artifacts (DO NOT UPLOAD)
fraud-artifacts/
mlruns/
*.pkl

# Logs
*.log

# Old CICD folder (we moved it to .github/)
cicd/

# Temporary files
.DS_Store
